*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/**  HEADER  **/

.header-container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../images/adventure-beauty-blonde-hair-725255.jpg);
    background-size: cover;
    
}

.header-container img{
    width: 100%;
    height: 100%
    
}

.header-container h1{
    font-size: 40pt;
    font-family: 'Old Standard TT', serif;
    color: #fff;
}

@keyframes fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: scale(1.4);
        color: #ff0000;
    }
}
.header-container h1:hover{
    animation: fade 2.5s ease-in;
    
    
    
}


/** NAV   **/

.nav-header{
    width: 100%;
    height: 75px;
    background-image: linear-gradient(rgba(0, 255, 255, 0.589), rgba(62, 129, 230, 0.384));
}

.nav-header ul li{
    float: right;
    list-style: none;

}

.nav-header ul li a{
    display: block;
    color: #fff;
    padding: 25px 17px;
    text-decoration: none;
    font-size: 16pt;
}

.nav-header ul li a:hover{
    background: rgba(155, 0, 216, 0.603);
    color: #110101;
}




/*  SECTION 01  */

.sec-1{
    height: 350px;
    background-color: #03a9f4;
    position: relative;
}

.sec-1 div{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin: 20px;
}

.sec-1 div p{
    font-family: 'Old Standard TT', serif;
    text-align: center;
    color: #fff;
    font-weight: 500;
    line-height: 40px;
    font-size: 16pt;
    letter-spacing: 2px;
}

.btn{
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 12pt;
    font-weight: 800;
    margin-bottom: 20px;
}

.btn:hover{
    
    color: #ff0000;

}




/** SECTION 2 **/


.galeria div{
    padding: 10px  0 0 0;
}

.galeria img{
    border-radius: 7px;
    box-shadow: 5px 3px 10px black;
    height: 510px;
    -webkit-filter: brightness(50%);
    filter: grayscale(100%);
}

.galeria img:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: all .5s ease-in-out;
    transition: all 1s ease-in-out;
}




/**  SECTION-3 **/

.sec-3{
    height: 100%;
    padding: 40px 20px;
    font-family: 'Gayathri', sans-serif;

}

.sec-3 aside{
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    
}

.div-img{
    width: 40%;
    height: 600px;
    float: right;
    margin-right: 50px;
    margin-left: 5px;
    
}
.div-img img{
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px black;
    border-radius: 100%;
    
}

.div-img img:hover{
    transform: scale(1.1);
    
}

.div-img2 img:hover{
    transform: scale(1.1);
    
}

.div-content h1{
    text-transform: capitalize;
    font-size: 36pt;
    letter-spacing: 2px;
}

.div-content p{
    line-height: 2;
    letter-spacing: 2px;
    font-size: 12pt;
    margin-left: 25px;
}

.div-img2{
    width: 40%;
    height: 600px;
    float: left;
    margin-right: 50px;
    margin-left: 5px;
    
}

.div-img2 img{
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px black;
    border-radius: 100%;
}

/** SECTION-4  FORMULARIO   **/

.sec-4{
    width: 100vw;
    height: 100vh;


}

.sec-4 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34pt;
    color: black;
    text-transform: uppercase;
    margin: 40px;
}

.sec-4 form{
    
    padding: 50px;
    
}

.sec-4 form label{
    display: block;
    text-align: left;
    color: silver;
}

.sec-4 form input{
    display: block;
    width: 50%;
    border-bottom: 1px solid silver;
    border-left: none;
    border-top: none;
    border-right: none;
    margin-bottom: 50px;
    background-color: transparent;
   
}

.sec-4 form input:focus{
    border: none;
    box-shadow: none;
    
}